<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppDbSettings.SettingsApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppDbSettings.SettingsApp>
            <setting name="servidorSql" serializeAs="String">
                <value>localhost\SOFTLAND_TEST</value>
            </setting>
            <setting name="usuarioSql" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="contrasenaSql" serializeAs="String">
                <value>Colocolo25</value>
            </setting>
            <setting name="rutaBase" serializeAs="String">
                <value>C:\sqlScriptMaintenance\ScriptsSql</value>
            </setting>
            <setting name="archivoBackup" serializeAs="String">
                <value>backup_softland.sql</value>
            </setting>
            <setting name="archivoMantenimiento" serializeAs="String">
                <value>mantenimientos.sql</value>
            </setting>
        </AppDbSettings.SettingsApp>
    </userSettings>
</configuration>