<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendSuccessEmail.Configuracion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SendSuccessEmail.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SendSuccessEmail.Configuracion>
            <setting name="logPath_backup" serializeAs="String">
                <value>C:\Mantenimiento Softland\scriptsMantenimiento\Logs\BackupSoftland_logs</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value>smtp.office365.com</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="senderEmail" serializeAs="String">
                <value>mesadeayuda@vantrust.cl</value>
            </setting>
            <setting name="senderPassword" serializeAs="String">
                <value>VNT.2020</value>
            </setting>
            <setting name="recipientEmail" serializeAs="String">
                <value>francisco.almeida@vantrust.cl</value>
            </setting>
            <setting name="logPath_mantenimiento" serializeAs="String">
                <value>C:\Mantenimiento Softland\scriptsMantenimiento\Logs\Mantenimiento_logs</value>
            </setting>
        </SendSuccessEmail.Configuracion>
        <SendSuccessEmail.Settings1>
            <setting name="logPath" serializeAs="String">
                <value>C:\Mantenimiento Softland\scriptsMantenimiento\Logs</value>
            </setting>
        </SendSuccessEmail.Settings1>
    </userSettings>
</configuration>