<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtlReporteria.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EtlReporteria.Properties.Settings1>
            <setting name="ServidorSqlDestino" serializeAs="String">
                <value>localhost\SOFTLAND_TEST</value>
            </setting>
            <setting name="ServidorSqlTarget" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioSqlDestino" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="ContrasenaSqlDestino" serializeAs="String">
                <value>Colocolo25</value>
            </setting>
        </EtlReporteria.Properties.Settings1>
    </userSettings>
</configuration>